<?xml version="1.0" encoding="UTF-8" ?>
<!--
LOG4J Configuration File.

Author: Larry Gregory
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="JSONPlaceholderClient.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

    <!-- Log everything from application code (currently minimal, no need to filter)-->
    <logger name="com.legrego.jsonplaceholder" additivity="false">
        <level value="ALL" />
        <appender-ref ref="file"/>
    </logger>

    <!-- Only log errors from third-party code -->
    <root>
        <level value="ERROR" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>